$text-color-white: #ffffff;
$text-color-gray: #4d4d4d;
$text-color-gray-light: #919191;
$text-color-black: #1f1f1f;
$text-color-blue: #009dff;

$color-blue: #009dff;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #bababa;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-36: 36px;
$fs-40: 40px;
$fs-46: 46px;
$fs-60: 60px;
$fs-80: 80px;
$fs-100: 100px;

$lh-18: 18px;
$lh-21: 21px;
$lh-24: 24px;
$lh-26: 26px;
$lh-27: 27px;
$lh-28: 28px;
$lh-36: 36px;
$lh-42: 42px;
$lh-56: 56px;
$lh-120: 120px;
